 /* Remove the navbar's default margin-bottom and rounded borders */


.delete {
	font-size: 20px;
	font-family: 'Amatic SC', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-weight:bold;
	color: blue;
}

.notes{
	font-size: 20px;
	font-family: 'Amatic SC', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-weight:bold;
	color: blue;
}


.addNote {
	font-size: 40px;
	font-family: 'Amatic SC', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-weight:bold;
	color: blue;
}

.save {
	font-size: 20px;
	font-family: 'Amatic SC', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-weight:bold;
}


.navbar-brand {
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size:40px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size:40px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-weight: bold;
	font-family: 'Amatic SC', cursive;
}


.jumbotron {
	position: relative;
	width: 100%;
	height: 500px;
	padding: 0;
	box-shadow: 10px 5px 20px 2px blue;
}

.jumbotron .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: auto;
	background: linear-gradient(blue, red);
	opacity: 0.7;
}

.jumbotron .background-image {
	position: relative;
	background-image: url("http://ecx.images-amazon.com/images/I/717g1eZuXGL.png");
	height:100%;

}

.jumbotron .caption {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}


.jumbotron h1 {
	font-size: 100px;
	font-family: 'Fjalla One', sans-serif;
	color: darkgrey;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.jumbotron h1 {
	  font-size: 60px;
	}
  }



.jumbotron p {
	font-size: 60px;
	font-family: 'Amatic SC', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-weight:bold;
	color: red;
}

h3 {
	font-size: 40px;
	font-family: 'Amatic SC', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-weight:bold;
	color: blue;
}

.articles
{
	font-size: 25px;
	font-family: 'Amatic SC', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	color: blue;
}

.panel-body {
	font-size: 25px;
	font-family: 'Amatic SC', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	color: blue;
}


