

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <a class="article-link" target="_blank" href="{{link}}">{{title}}</a>
            <a class="btn btn-success save"  href="/save/{{_id}}">Save Article</a>
        </h3>
    </div>
    <div class="panel-body">{{teaser}}</div>
</div>